################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/TestApp
/TestApp/packages
/TestApp/.vs/TestApp
/TestApp
/.vs
